
/* slider container box */
.efx-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid rgb(204, 204, 204);
  /* rgb(229, 225, 233); */
  text-align: center;
  max-height: fit-content;
}
.efx-col label{
  margin-top: 18%;
  background-color: rgb(219, 219, 219);
  border-radius: 6px;
  padding-left: 5%;
  padding-right: 5%;
}

/* slider bar */
.efx-slider { 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  writing-mode: vertical-lr;
  width: 18px;
  cursor: pointer;
  margin-top: 45%;
  position: relative;
  align-items: center;
  min-height: 250px;
  max-height: fit-content;
  /* height: 50%; */
  border-radius: 3px;  
  /* background: rgb(211, 211, 211); */
  background: rgb(229, 225, 233);
  border: 1px solid rgb(205, 204, 204);
  max-width: 50%;
  outline: none;
  opacity: 0.85;
  }

  /* the knob of the slider */
  .efx-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    -moz-appearance: none; 
    height: 15px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(184, 183, 183);
    /* border: 2px solid rgb(192, 192, 192); */
    border-radius: 4px;
    
  }
  
  .efx-slider::-webkit-slider-thumb:hover {
    /* animation for highlight */
    transition: .05s ease-in-out; 
    border-color: rgb(223, 223, 223);
    width: 45px;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color inset; */
    box-shadow: 0 0 0 1px rgb(223, 223, 223);
  }
  

  