
/* slider container box */
.efx-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid rgb(229, 225, 233);
  border-radius: 15px;
  /* rgb(204, 204, 204); */
  /* rgb(229, 225, 233); lighter */  
  text-align: center;
  max-height: fit-content;
}
.efx-col label{
  margin-top: 18%;
  margin-bottom: 18%;
  background-color: rgb(219, 219, 219);
  border-radius: 6px;
  /* padding-left: 8%;
  padding-right: 8%; */
  min-width: 75%;
}


/* slider bar */
.efx-slider { 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  writing-mode: vertical-lr;
  width: 18px;
  cursor: pointer;
  /* margin-top: 45%; un-comment if want to have the param label at bottom instead */
  position: relative;
  align-items: center;
  min-height: 270px;
  max-height: fit-content;
  /* height: 50%; */
  border-radius: 3px;  
  /* background: rgb(211, 211, 211); */
  background: rgb(229, 225, 233);
  border: 1px solid rgb(205, 204, 204);
  max-width: 50%;
  outline: none;
  opacity: 0.85;
  }

  /* the knob of the slider */
  .efx-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    -moz-appearance: none; 
    height: 15px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(184, 183, 183);
    /* border: 2px solid rgb(192, 192, 192); */
    border-radius: 3px;
    
  }
  
  .efx-slider::-webkit-slider-thumb:hover {
    /* animation for highlight */
    /* transition: .05s ease-in-out;  */
    border-color: rgb(220, 220, 220);
    width: 46px;
    /* box-shadow: h-offset v-offset blur-radius spread-radius color inset; */
    box-shadow: 0 0 0 2px rgb(237, 236, 236);
  }
  

  