/* vol boxes */
.vol-col {
  text-align: center;
  background-color: lightblue;
  /* display: flex; */
  /* justify-content: space-between; Distribute items evenly with space between */
  /* align-items: flex-end; */
  max-width: fit-content;
  min-width: fit-content;
  min-height: 270px;
  padding: 10px;
  border-radius: 15px;
  border: 10px solid rgb(229, 225, 233); 
  box-sizing: border-box;
  text-align: center;
  max-width:100px; 
}
.vol-col label {
  border-radius: 6px;
  min-height: 50px;
  margin-top: 12%;
  background-color: rgb(219, 219, 219);
  border-radius: 6px;
  padding-left: 8%;
  padding-right: 8%;
}

.meters {
  text-align: center;
  vertical-align: bottom;
  max-width:100px;
  min-width:fit-content;
  border: 5px solid #9fa5ab00;
  /* temporary fix for upside down meter.. */
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.meter-bar-lt {
  border: 5px solid #9fa5ab00; 
  margin-right: -20%;
}

.meter-bar-rt {
  border: 5px solid #9fa5ab00;
}




meter {
  writing-mode: vertical-lr;
  flex: 1;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  max-height: 280px;
  min-height: 280px;
  min-width: 45px;
  max-width: 45px;
  /* border: 5px solid #ccc; */
  border: 0px;
  border-radius: 3px;
  border-color: transparent;
}
meter::-webkit-meter-bar {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  -webkit-user-modify: read-only !important;
  writing-mode: vertical-lr;
  border-radius: 0px;
  border-color: lightblue;  /* temporary fix for matching bk color */
  /* border-radius: 3px;     makes meters rectangles instead of circluar */
  background: none; /*Required to get rid of the default background property*/
  background-color: whiteSmoke;
  /* box-shadow: 0 5px 5px -5px #333 inset; */
  box-sizing: border-box; 
  justify-content: center;
  width: 25px;
}


#inputAudioButton { 
    /* outline: none;  */
    border:none;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: red;
    color: red;
    border-color: #9fa5ab00;
    background-color: transparent;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:3px;
  }
  
  .item {
    width: 5em;
  }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/* change the color???? */
input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: #a9d3f8;
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: 0 0 1px #a9d3f8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropbtn {
  border-radius: 3px;
  background-color: rgb(65, 195, 80);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 3px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  border-radius: 3px;
  margin-bottom: 0%;
  color: black;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
}

.dropdown-content p:hover {
  background-color: #ddd;
  }

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* hint button */
#hintButton {
  border-style: none;
  background-color: rgba(151, 71, 255, 1);
  width: 157px;
  height: 49px;
  float: right;
  color: white;
}

/* check button */
#checkButton {
  border-style: none;
  background-color: rgba(175, 244, 198, 1);
  width: 157px;
  height: 49px;
  float: right;
  color: black;
}


#effect-bk {
  width: 977px;
  min-width: 977px;
  /* min-width: 200px; */
  min-height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 3px;
  display: flex;
  background: rgb(229, 225, 233);
  border-radius: 6px;
  filter: brightness(0.5);
  /* border: 3px solid rgb(91, 91, 91); */
  /* background: rgb(204, 204, 204); */
  /* background-color: gray; */

}

.knobBox {
  width:fit-content;
  height: fit-content;
  /* background-color: yellow; */
}

.container-fluid {
  display: flex;
}

/* labels for the knobs */
.grouping{
  display: inline-block;

}
.description{
  
  display: block;
  padding: 0;
  text-align: center;
}

.row {
  /* display: flex;  */
  /* justify-content: flex-end; */
  padding-top: 25px;
  padding-bottom: 25px;  
  padding-left: 0;
  padding-right: 0;
  /* background-color: red; */
  width: 977px;
}